@charset "UTF-8";
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
body {
  font-family: "Poppins";
}

.divModal {
  margin: auto;
}

.boutonRegister {
  margin: auto;
}

.logo {
  padding: 10px;
  padding-top: 70px;
  margin-bottom: 35px;
}

.navbare {
  margin: auto;
  font-size: 13px;
}

.imglogo {
  width: 14%;
}

.logoSearch {
  position: relative;
  right: -85px;
}

.btnBlack {
  border: 1px solid;
  border-color: white;
}

.btnWhite {
  border-color: transparent;
}

.section1 {
  background-color: #F3F2F3;
}

.imgSlider {
  width: 100%;
}

.colorRed {
  color: #D04E49;
  font-size: 55px;
}

.colorBlack {
  font-size: 95px;
}

.bouton1 {
  background-color: #D04E49;
  border-radius: 50px;
  border-color: transparent;
  font-size: 15px;
}

.imgService1 {
  background-image: url("../../public/images/services/service-1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 95%;
  height: 250px;
  margin: auto;
}

.imgService2 {
  background-image: url("../../public/images/services/service-2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 95%;
  height: 250px;
  margin: auto;
}

.imgSlider3 {
  background-image: url("../../public/images/services/slider-3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 95%;
  height: 250px;
  margin: auto;
}

.lienPhotos {
  font-size: 30px;
  border-bottom: 1px solid;
  border-bottom-color: white;
  position: relative;
  top: 80px;
  background-color: transparent;
  border-color: transparent;
}

.imgSofa {
  background-image: url("../../public/images/products_mini/product-luxry-sofa.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 95%;
  height: 300px;
  margin: auto;
}

.imgGloves {
  background-image: url("../../public/images/products_mini/product-gloves.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 95%;
  height: 300px;
  margin: auto;
}

.imgBowl {
  background-image: url("../../public/images/products_mini/product-cups.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 95%;
  height: 300px;
  margin: auto;
}

.montant {
  color: #D04E49;
}

.montantBarré {
  color: lightgrey;
}

.badge1 {
  background-color: #D04E49;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: left;
  display: block;
  line-height: 43px;
}

.imgBag {
  background-image: url("../../public/images/products_mini/product-bag.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 95%;
  height: 300px;
  margin: auto;
}

.imgTshirt {
  background-image: url("../../public/images/products_mini/product-tshitr.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 95%;
  height: 300px;
  margin: auto;
}

.imgPlates {
  background-image: url("../../public/images/products_mini/product-plates.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 95%;
  height: 300px;
  margin: auto;
}

.imgModern {
  background-image: url("../../public/images/products_mini/product-modern-sofa.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 95%;
  height: 300px;
  margin: auto;
}

.imgBed {
  background-image: url("../../public/images/products_mini/product-bed.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 95%;
  height: 300px;
  margin: auto;
}

.imgShoes {
  background-image: url("../../public/images/products_mini/product-shoes.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 95%;
  height: 300px;
  margin: auto;
}

.section3 {
  background-image: url("../../public/images/cta-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 634px;
  background-attachment: fixed;
}

.discover {
  padding-top: 250px;
  padding-bottom: 250px;
}

.d-inline {
  width: 24%;
}

.divFooter {
  max-width: 50%;
  margin: auto;
}

.i5 {
  font-size: 30px;
}

.textNav {
  font-size: 13px;
}

.boutonNoir {
  background-color: #1a1919;
  border-radius: 7px;
  border-color: transparent;
}

.boutonBlanc {
  background-color: white;
  border-radius: 7px;
  border-color: transparent;
}

.section6 {
  background-color: #262626;
}

.borderRight {
  border-right: 1px solid #686666;
}

.txtWidth {
  max-width: 90%;
  font-size: 15px;
}

.borderBot {
  border-bottom: 1px solid #686666;
}

.bouton3 {
  background-color: transparent;
  border: 1px solid #686666;
  font-size: 12px;
}

.section7 {
  background-color: #111010;
}

.btnBlack {
  background-color: black;
}

.btnWhite {
  background-color: white;
  border: 1px solid;
}

.text-white {
  color: white !important;
}

.text-dark {
  color: black !important;
}

.boutonConnexion {
  border-radius: 10px;
  border: 1px solid;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.centered-form {
  margin-top: -50px;
}

.marginSignIn {
  margin-top: 50px;
}

.centered-form .panel {
  background: rgba(255, 255, 255, 0.8);
}

.fixed-nav {
  position: fixed;
  top: 0;
  z-index: 1030;
  transition: 0s;
  background-color: white;
  width: 100%;
}

.close {
  cursor: pointer;
}

.DivRose {
  background-color: #D04E49;
  margin: 1rem;
}

.DivGris {
  background-color: #e9e6e6;
  margin: 1rem;
}

.borderR {
  border-right: 1px solid #686666;
}

@media screen and (min-width: 0) and (max-width: 540px) {
  .discover {
    padding-top: 200px;
  }

  .discover h1 {
    font-size: 40px;
  }
  .discover button {
    font-size: 15px;
  }
}
@media screen and (min-width: 541px) and (max-width: 720px) {
  .discover {
    padding-top: 150px;
  }

  .discover h1 {
    font-size: 25px;
  }
  .discover button {
    font-size: 10px;
  }
}
@media screen and (min-width: 0) and (max-width: 600px) {
  .shopAt {
    font-size: 30px;
    color: #D04E49;
  }

  .colorBlack {
    font-size: 45px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1100px) {
  .shopAt {
    font-size: 50px;
    color: #D04E49;
  }

  .colorBlack {
    font-size: 60px;
  }
}
@media screen and (min-width: 0) and (max-width: 1000px) {
  .imgSlider {
    width: 70%;
    text-align: center;
  }
}
@media screen and (min-width: 0) and (max-width: 1000px) {
  .imgSlider2 {
    text-align: center;
  }
}
.section4 .col {
  max-width: 280px !important;
}
.section4 .carousel {
  overflow: hidden;
}
.section4 .carousel .slide {
  width: 2100px;
}
.section4 .carousel img {
  width: auto;
  height: 190px;
}

/*# sourceMappingURL=styles.css.map */
